@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-mono {
  font-family: "Space Mono", source-code-pro, monospace;
}

.font-sans {
  font-family: "Space Grotesk", sans-serif;
}

@layer base {
  html,
  body {
    @apply p-0 m-0 transition-all scroll-smooth scroll-p-20 scrollbar-thin scrollbar-thumb-nord3;
  }

  body {
    @apply dark:bg-nord0 dark:text-nord4 bg-nord4 text-nord0 dark:selection:bg-nord7 selection:bg-nord9 selection:text-nord1 selection:bg-opacity-75;
  }

  section,
  main {
    @apply px-[auto];
  }

  section p,
  section ul {
    @apply py-2 font-mono;
  }

  section h1 {
    @apply mb-6;
  }

  .bg-nord-gradient {
    @apply bg-gradient-to-r dark:from-nord14 dark:to-nord10 from-nord1 to-nord10;
  }

  .link {
    @apply underline underline-offset-2 dark:text-nord8 text-nord3;
  }

  .text-secondary {
    @apply text-gray-500 dark:text-gray-400;
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .link-underline {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#a3be8c, #5e81ac);
    background-size: 0 2px;
    background-position: 0 100%;
    @apply transition-all duration-300 bg-no-repeat border-b-0;
  }

  .link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }
}
